.menu {
  display: flex;
  list-style: none;
  margin: 5px;
  padding: 0; }

* {
  box-sizing: content-box;
  margin: 0; }

body {
  margin: 4px; }

.content {
  z-index: 0;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
  width: 100%; }
  .content .canvas1 {
    display: block;
    margin: 0;
    background: transparent;
    z-index: 1; }
  .content .canvas2 {
    z-index: -1;
    background-color: lightblue;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

.paint-bar {
  border: 1px solid #ccc;
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
  z-index: 3;
  position: relative;
  font-family: sans-serif;
  flex-wrap: wrap;
  height: 135px; }
  @media (min-width: 493px) {
    .paint-bar {
      height: 105px; } }
  @media only screen and (min-width: 493px) and (orientation: landscape) {
    .paint-bar {
      height: 95px; } }
  @media only screen and (min-width: 738px) and (orientation: landscape) {
    .paint-bar {
      height: 52px; } }
  @media (min-width: 765px) {
    .paint-bar {
      height: 55px; } }
  @media (min-width: 1024px) {
    .paint-bar {
      height: 70px; } }
  .paint-bar__btn {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color: #ededed;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-weight: bold;
    padding: 3px 5px 0 5px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin-right: 1px; }
  .paint-bar .fileOperations {
    margin: 0 auto; }
  .paint-bar .btnOpenFile .inputFile {
    display: none; }
  .paint-bar .wrapperColor-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 0 auto; }
    .paint-bar .wrapperColor-line .colorInput {
      display: flex;
      flex-direction: column;
      margin-right: 5px; }
      .paint-bar .wrapperColor-line .colorInput label {
        margin: 0 auto; }
        .paint-bar .wrapperColor-line .colorInput label img {
          width: 18px; }
      .paint-bar .wrapperColor-line .colorInput input {
        width: 32px;
        height: 10px;
        padding: 0;
        outline: none;
        border: none; }
    .paint-bar .wrapperColor-line .lineWeight {
      display: inline-flex;
      margin: 0 auto; }
      .paint-bar .wrapperColor-line .lineWeight .paint-size {
        cursor: pointer; }
      .paint-bar .wrapperColor-line .lineWeight .paint-size-val {
        min-width: 2.3rem;
        border-radius: 3px;
        padding: 0 10px;
        color: #333;
        background: #333;
        padding: 5px;
        margin-left: 10px;
        color: #fff;
        text-align: center;
        position: relative;
        line-height: 22px; }
      .paint-bar .wrapperColor-line .lineWeight .paint-size-val:before {
        content: '';
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translate(0, -50%);
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-right-color: #333; }
      .paint-bar .wrapperColor-line .lineWeight * {
        vertical-align: middle; }
      @media (orientation: landscape) {
        .paint-bar .wrapperColor-line .lineWeight {
          padding: 0 2%; } }
      @media (min-width: 384px) {
        .paint-bar .wrapperColor-line .lineWeight {
          margin-right: 10%; } }
  .paint-bar .controlsBtn {
    margin: 0 auto;
    display: inline-block;
    font-size: 0; }
    .paint-bar .controlsBtn .active {
      background-color: lightcoral;
      background: lightcoral; }
