* {
    box-sizing: content-box;
    margin: 0;
}

body {
    margin: 4px;
}

.content {
    z-index: 0;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
    width: 100%;

    .canvas1 {
        display: block;
        margin: 0;
        background: transparent;
        z-index: 1;
    }

    .canvas2 {
        z-index: -1;
        background-color: lightblue;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}